{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Feladatok</h1>
</div>

<table class="table table-bordered table-hover ">
    <thead>
        <tr class="success">
            <th>Időpont</th>
            <th>Fontosság</th>
            <th>Helyszín</th>
            <th>Leírás</th>
            <th>Szerkesztés</th>
            <th>Törlés</th>
        </tr>   
    </thead>
    <tbody>
        {{#each errors}}
        <tr>
            <td>{{date}}</td>
            <td><span class="label label-{{statusClass}}">{{statusText}}</span></td>
            <td>{{location}}</td>
            <td><span class="badge">{{numberOfMessages}}</span> {{description}}</td>
            <td><a class="btn btn-success btn-sm" href="/tasks/update/{{id}}" role="button">Szerkesztés</a></td>
            <td><a class="btn btn-danger btn-sm" href="/tasks/delete/{{id}}" role="button">Törlés</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<p><a href="/tasks/new" class="btn btn-default">Új feladat</a></p>